<mat-tab-group>
    <mat-tab label="To do">
        <div class="example-container">
            <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[doneList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
            >
                <div class="example-box" *ngFor="let item of todo" cdkDrag>
                    {{ item }}
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Done">
        <div class="example-container">
            <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
            >
                <div class="example-box" *ngFor="let item of done" cdkDrag>
                    {{ item }}
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
